.container {
  padding: 10px;
  height: calc(100vh - 20px);
  overflow: auto;
}

.container-title {
  margin: 20px 0px;
  font-size: 22px;
  padding-inline-start: 40px;
}

.feeds-items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feed-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feed-date {
  width: 184px;
}

.feed-meta-data {
  display: flex;
  gap: 12px;
}